@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --background-dark: #0f0f0f;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-charcoal-900 dark:bg-charcoal-950 dark:text-charcoal-100 font-body;
}

.font-heading {
  font-family: "Abril Display", serif;
}

.font-body {
  font-family: "Kanit", sans-serif;
}

:root.theme-transition, :root.theme-transition * {
  transition-property: background-color, color, border-color;
  transition-duration: 2000ms;
  transition-timing-function: ease;
}
